<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    {%- if site.author %}
      <div class="footer-content">
        {% if site.author.name -%}
          &copy; 2020 {{ site.author.name | escape }}
        {% endif -%}
        {% if site.author.email -%}
          <a class="u-email" href="mailto:{{ site.author.email }}">
            <svg class="svg-icon" viewbox="0 0 24 24">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#mail' | relative_url }}"></use>
            </svg>
          </a>
        {%- endif %}
        <a href="{{ 'feed.xml' | relative_url }}">
          <svg class="svg-icon" viewbox="0 0 24 24">
            <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
          </svg>
        </a>
      </div>
    {%- endif %}

  </div>

</footer>
