---
layout: html_scaffold
---

<main class="landing-page" aria-label="Content">

  {%- include landing.html -%}

  <div class="wrapper home-wrapper">

    {% if site.paginate %}
      {% assign posts = paginator.posts %}
    {% else %}
      {% assign posts = site.posts %}
    {% endif %}

    {% assign featured_posts = posts | where: "featured",true %}
    {%- if featured_posts.size > 0 -%}
    <!-- Add Featured Posts here -->
    <div class="featuredposts-container">
      <h2>Featured</h2>

      {% include post_list.html render_posts=featured_posts %}

    </div>
    <!-- {%- endif -%} -->

    {%- if posts.size > 0 -%}
    <!-- Add Recent Posts here -->
    <div class="allposts-container">
      <h2>All Posts</h2>

      {% include post_list.html render_posts=posts %}

    </div>
    {%- endif -%}



  </div>

</main>